autopep8
pep8
pylint
PySimpleGUI
pytesseract
altgraph
colored
future
Gooey
numpy
pefile
Pillow
psutil
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pywin32-ctypes
six
wxPython
